<div class="container-fluid table-responsive">
    <hr />
    <table class="table table-striped">
        <thead>
            <tr>
                <th width="20%">SKU</th>
                <th width="40%">Title</th>
                <th width="10%">On Order</th>
                <th width="10%">Due</th>
                <th width="10%">Stock Level</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="x in data.lowstockdata.data">
                <td>{{x.SKU}}</td>
                <td><a style="cursor: pointer" ng-click="openProduct(x)">{{x.ProductTitle}}</a></td>
                <td>{{x.OnOrder}}</td>
                <td>{{x.Due}}</td>
                <td>{{x.StockLevel}}</td>
                <td>{{x.Location}}</td>
            </tr>
        </tbody>
    </table>
</div>
<uib-pagination total-items="data.lowstockdata.totalitems" max-size="8" ng-model="data.lowstockdata.currentPage" ng-change="pageChanged()"></uib-pagination>
